@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  background: #313131;
  max-height: vh;
  max-width: vw;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  color: #589ad3;
}

/******** Comum *********/

.active {
  color: #589ad3 !important;
}

.active:hover {
  color: #fff !important;
}

.container-space {
  width: 80%;
  height: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 80%;
  height: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
}

.flex {
  display: flex;
}

.col-md-3 {
  width: 25%;
  float: left;
}

.col-md-4 {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.col-md-3 {
  width: 25%;
}

hr {
  margin: 10px 0;
  height: 0.85px;
  background-color: #ffffff66;
  border: none;
}

.mt12 {
  margin-top: 12px;
}

/******** Header *********/

header {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
}

header .logo {
  float: left;
  padding-left: 0px;
  display: block;
}

header .menu {
  float: right;
  padding-top: 15px;
}

header .menu ul li {
  display: inline;
  margin-right: 30px;
}

header .menu ul li a {
  color: #ffffffb3;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;  
  transition: all 0.3s;
}

header .menu ul a:hover {
  color: #fff;
}

/********** Banner ********/

.banner {
  background: #0d2f4b;
  width: 100%;
  height: 270px;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner img {
  width: 100%;
}

/************ Section **********/

section {
  color: #ffffff66;
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 10px;
}

section h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 30px;
}

.skill {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  padding: 20px;
  border-radius: 0px;
  box-shadow: 0px 0px 20px -10px #222;
  display: flex;
  cursor: pointer;
  transition: all 0.3s;
}

.post {
  padding-bottom: 2rem;
}

.skill:hover {
  box-shadow: 0px 0px 20px 5px #222;
}

.skill .icon {
  height: 10px !important;
  width: 80px;
  position: relative;
  top: 0px;
  border: none;
  margin-right: 20px;
}

.skill .icon img {
  width: 100%;
}

.skill .detail {
  width: 100%;
}

.skill h3 {
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 10px;
}

.skill p {
  line-height: 1.2;
}

.skill.react:hover img {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 12s linear infinite;
}

/************ Repo *****************/

.repo {
  width: 100%;
  color: #ffffff66;
  padding: 20px;
  box-shadow: 0px 0px 20px -10px #222;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 20px;
  text-decoration: none;
}

.repo h3 {
  line-height: 1.2;
  font-weight: 300;
  color: #589ad3;
  margin-bottom: 10px;
}

.repo small {
  color: #fff;
}

.repo-list {
  max-height: 500px;
  overflow-y: auto;
}

.repo-list::-webkit-scrollbar {
  width: 0.4em;
}

b.repo-listody::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #589ad3;
}

.repo-list::-webkit-scrollbar-thumb {
  background-color: #589ad3;
  outline: 1px solid #589ad3;
}

footer {
  background: #202020;
  margin-top: 46px;
  color: #a6a6a6;
  padding: 43px 0;
  justify-content: space-between;
}

footer .row {
  justify-content: space-between;
}

footer .social-img {
  width: 2rem;
}

footer .rounded-white {
  background: #fff;
  border-radius: 100%;
}

/********* Rotate animation **********/

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/******** Responsividade *********/

@media (min-width: 992px) {
  .col-md-4 {
    width: 33.33333333%;
  }
  .post {
    min-height: 111px;
  }
}

@media (max-width: 1200px) {
  .container,
  .container-space {
    width: 90%;
  }

  .sep {
    display: none;
  }
}

@media (max-width: 992px) {
  .row {
    display: inline;
  }
  .container,
  .container-space {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
  .banner {
    max-height: 368px;
  }
  .menu {
    display: none;
  }
  .skill .icon img {
    width: 72px;
  }
  .post {
    padding-bottom: 3rem;
  }

  .desenvolvido {
    width: 100%;
    margin: -15px 0 24px 0;
  }
}
